@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root,
.light {
    --color-1: #640d14;
    --color-2: #f7dee0;
    --color-3: #fefbfb;
    --color-4: #800e13;
    --color-5: #335c67;
    --color-6: #2a4c55;
    --color-7: #44090e;
    --color-8: #003049;
    --color-9: #000305;
    --color-10: #ad2831;
    --color-12: black;
    --color-13: white;
    --color-14: #4a5565;
    --color-15: #364153;
    --color-16: #f3f4f6;
    --color-17: #fbeff0;
    --color-highlighter: #fce8ea;
    --color-scrollable: rgb(56 4 14 / 20%);
    --entity-icon-url: url("/entity-icon-light.svg");
    --edge-icon-url: url("/edge-icon-light.svg");
}

.dark {
    --color-1: #fce8ea;
    --color-2: #3f0f03;
    --color-3: #250902;
    --color-4: #e9a5a9;
    --color-5: #98c1cd;
    --color-6: #75acbd;
    --color-7: #f7c4c9;
    --color-8: #80d2ff;
    --color-9: #57c4ff;
    --color-10: #efbdc0;
    --color-12: #f8f8f8;
    --color-13: #2b2b2b;
    --color-14: #d1d5dc;
    --color-15: #99a1af;
    --color-16: #3e3e3e;
    --color-17: #611705;
    --color-highlighter: #252122;
    --color-scrollable: rgb(255 255 255 / 20%);
    --entity-icon-url: url("/entity-icon-dark.svg");
    --edge-icon-url: url("/edge-icon-dark.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-1: #fce8ea;
        --color-2: #3f0f03;
        --color-3: #250902;
        --color-4: #e9a5a9;
        --color-5: #98c1cd;
        --color-6: #75acbd;
        --color-7: #f7c4c9;
        --color-8: #80d2ff;
        --color-9: #57c4ff;
        --color-10: #efbdc0;
        --color-12: #f8f8f8;
        --color-13: #2b2b2b;
        --color-14: #d1d5dc;
        --color-15: #99a1af;
        --color-16: #3e3e3e;
        --color-17: #611705;
        --color-highlighter: #252122;
        --color-scrollable: rgb(255 255 255 / 20%);
        --entity-icon-url: url("/entity-icon-dark.svg");
        --edge-icon-url: url("/edge-icon-dark.svg");
    }
}

@theme {
    --inset-shadow-md: inset 0 1px 5px rgb(from var(--color-12) r g b / 40%);
}

.header,
.sidebar,
.diagram-categories-container,
.feedback-toast,
.tooltip,
.theme-menu,
.settings-menu,
.info-container {
    @apply transition-colors duration-200;
}

.header {
    @apply flex items-center justify-between px-3 py-2 z-2;
    @apply fixed bg-(--color-3) text-(--color-1) border-(--color-1) border rounded-md;
    @apply top-2 self-center w-[min(390px,calc(100vw-16px))];

    @media (min-width: 1024px) {
        @apply static justify-between w-full rounded-none border-t-0 border-l-0 border-r-0;
    }
}

.header-btn {
    @apply p-2 rounded-md hover:not-disabled:bg-(--color-2) cursor-pointer relative;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply transition-colors duration-200;

    @media (pointer: coarse) {
        &::after {
            @apply content-[""] absolute w-[calc(100%+4px)] h-12;
            @apply top-1/2 left-1/2 -translate-1/2;
        }
    }
}

.navigation-menu {
    @apply fixed z-1 top-[calc(58px+16px)] w-[min(390px,calc(100vw-16px))];
    @apply translate-x-[-13px] overflow-hidden scale-0 opacity-0 origin-top;
    @apply bg-(--color-3) text-(--color-1) border-(--color-1) border rounded-md;
    @apply transition-all duration-200;

    &.open {
        @apply scale-100 opacity-100;
    }

    .theme-menu {
        @apply flex flex-row gap-0 relative opacity-100 border-0 p-0;
        label {
            @apply flex-1;
        }

        @media (pointer: coarse) {
            @apply h-10;
            label {
                @apply rounded-none;
            }
        }
    }

    @media (min-width: 1024px) {
        @apply hidden;
    }
}

.navigation-btn-container {
    @media (min-width: 1024px) {
        @apply -mr-1;
    }
}

.navigation-btn {
    @apply p-2 cursor-pointer hover:not-disabled:bg-(--color-2);
    @apply flex gap-2 items-center w-full;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply transition-colors duration-200;
}

#refresh-button,
#new-diagram-button,
#duplicate-diagram-button,
#delete-diagram-button,
#recover-diagram-button,
#export-diagram-button,
#ai-suggestions-btn,
#theme-settings-btn {
    @apply hidden;

    @media (min-width: 1024px) {
        @apply flex;
    }
}

#navigation-btn {
    path {
        transition-property: opacity;
        transition-duration: 200ms;

        &:first-child {
            transform-origin: 4px 6px;
        }
        &:last-child {
            transform-origin: 3px 18px;
        }
    }

    svg:not(.x) {
        path:first-child {
            animation: unrotate-1 0.2s forwards;
        }
        path:last-child {
            animation: unrotate-2 0.2s forwards;
        }
    }

    svg.x {
        path:first-child {
            animation: rotate-1 0.2s forwards;
        }
        path:nth-child(2) {
            opacity: 0;
        }
        path:last-child {
            animation: rotate-2 0.2s forwards;
        }
    }

    @media (min-width: 1024px) {
        @apply hidden;
    }
}

@keyframes rotate-1 {
    0% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(2.5px) rotate(45deg);
    }
}

@keyframes rotate-2 {
    0% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(2.5px) rotate(-45deg);
    }
}

@keyframes unrotate-1 {
    0% {
        transform: translateX(var(--path-1-translate))
            rotate(var(--path-1-rotate));
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}

@keyframes unrotate-2 {
    0% {
        transform: translateX(var(--path-2-translate))
            rotate(var(--path-2-rotate));
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}

.ai-prompt {
    .text-area-field {
        @apply w-full;
    }
}

.ai-prompt-btn {
    @apply hidden w-[170px] bg-(--color-13) justify-between items-center;
    @apply border-1 border-(--color-1) rounded-md p-1 outline-none focus:bg-(--color-2);
    @apply hover:not-disabled:bg-(--color-2) cursor-pointer;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply transition-colors duration-200;

    @media (min-width: 1024px) {
        @apply flex;
    }

    .placeholder {
        @apply font-semibold;
    }

    .shortcut {
        @apply text-xs bg-(--color-1) text-(--color-13) p-0.5 rounded-[2px];
        @apply transition-colors duration-200;
    }
}

#main-wrapper {
    &.fullscreen {
        > main {
            @media (min-width: 1024px) {
                @apply grid-cols-[1fr];
            }
        }
    }

    > main {
        @apply grid flex-1 grid-cols-1;

        @media (min-width: 1024px) {
            @apply grid-cols-[50px_250px_1fr_var(--entity-panel-width)];
        }
    }
}

.main-left-panel,
.main-right-panel {
    @apply fixed z-1 top-[calc(58px+16px)];
    @apply max-h-[calc(100vh-58px-24px)] w-[min(calc(100%_-_2_*_8px_-_15px),_300px)];
    @apply transition-transform duration-200;

    &.open {
        @apply transform-[translateX(0)];
    }

    .collapse-button {
        @apply bg-(--color-3) hover:bg-(--color-2) text-(--color-1) border-(--color-1) border;
        @apply h-fit absolute;
        @apply transition-colors duration-200 cursor-pointer;

        @media (min-width: 1024px) {
            @apply hidden;
        }

        @media (pointer: coarse) and (width < 1024px) {
            @apply w-7 h-10 grid place-content-center;
            svg {
                @apply size-5;
            }
        }
    }
}

.main-left-panel {
    @apply flex left-2;
    @apply transform-[translateX(calc(-100%_-_8px))];

    @media (min-width: 1024px) {
        @apply contents transform-none;
    }

    .collapse-button {
        @apply left-full border-l-0 rounded-r-md;
    }
}

.main-right-panel {
    @apply right-2 border rounded-md rounded-tl-none;
    @apply transform-[translateX(calc(100%_+_8px))];

    @media (min-width: 1024px) {
        @apply contents transform-none;
    }

    .collapse-button {
        @apply top-[-1px] right-[calc(100%+1px)] border-r-0 rounded-l-md;
    }
}

.diagram-item-placeholder {
    mask-size: 200% 100%;

    mask-image: linear-gradient(
        130deg,
        rgb(from var(--color-12) r g b) 45%,
        rgb(from var(--color-12) r g b / 60%) 70%,
        rgb(from var(--color-12) r g b) 95%
    );
    animation: 1s linear 0s infinite normal none running placeholder-wave;
}

@keyframes placeholder-wave {
    100% {
        mask-position: -200% 0%;
    }
}

.sidebar {
    @apply bg-(--color-3) text-(--color-1) p-3 border-(--color-1) border;
    @apply flex flex-col rounded-br-md flex-auto;

    @media (min-width: 1024px) {
        @apply border-l-0 border-t-0 border-b-0 rounded-none;
        @apply h-[calc(100vh-57px)];
    }
}

.diagram-categories-container {
    @apply bg-(--color-3) text-(--color-1) p-0.5 border-(--color-1) border border-r-0;
    @apply rounded-l-md;

    @media (min-width: 1024px) {
        @apply border-l-0 border-t-0 border-b-0 border-r-1 rounded-none;
    }
}

.info-container {
    @apply bg-(--color-3) border-(--color-1) text-(--color-12) border-l;
}

.diagram-categories {
    @apply flex flex-col gap-2 mt-0.5;
    li {
        @apply text-center;
    }
    button {
        @apply p-2 text-left rounded-md text-(--color-1) cursor-pointer transition-colors duration-200;
        @apply disabled:cursor-not-allowed disabled:opacity-50;
        &:hover {
            @apply not-disabled:bg-(--color-2);
        }
        &.active {
            @apply bg-(--color-2);
        }
    }
}

.search-bar {
    @apply border-1 rounded-md py-1 px-2 w-full;
    @apply border-(--color-1) outline-none focus:bg-(--color-2);
    @apply transition-colors duration-200;
}

.diagram-list {
    @apply flex flex-col gap-1 overflow-auto -mb-3 pb-3;
    scrollbar-width: thin;
    scrollbar-color: var(--color-1) var(--color-3);

    &.has-scrollbar {
        @apply -mr-2.5;
    }
}

.diagram-item {
    @apply px-2 py-1 text-left rounded-md text-(--color-1) hover:bg-(--color-2) cursor-pointer transition-colors duration-200;

    &.selected {
        @apply bg-(--color-2);

        .diagram-name {
            &:hover,
            &:focus {
                @apply border-1 border-(--color-1) px-[1px] -mt-[1px] -ml-[2px] -mb-[1px] rounded-md;
                @apply outline-none;
            }
        }
    }

    .diagram-name-form {
        input {
            @apply border-1 border-(--color-1) rounded-md px-[1px] -mt-[1px] -ml-[2px] -mb-[1px] w-full outline-none bg-(--color-3);
            @apply disabled:bg-gray-100 disabled:cursor-not-allowed;
        }
    }
}

.feedback-toast {
    @apply fixed px-6 py-3 rounded-full bg-(--color-1) text-(--color-13) bottom-3;
    @apply left-1/2 -translate-x-1/2;
    @apply hidden gap-2 items-center;

    &.show {
        @apply flex animate-[slideUp_0.3s_linear_forwards];
    }

    &.hide {
        @apply flex animate-[slideDown_0.3s_linear_forwards];
    }
}

.tooltip {
    @apply absolute bg-(--color-12) text-(--color-13) rounded-md py-1 px-2 z-2 whitespace-nowrap text-sm;
    &.top {
        @apply -translate-x-1/2 -translate-y-full;
        @apply left-1/2 -top-2;
    }
    &.bottom {
        @apply -translate-x-1/2 translate-y-full;
        @apply left-1/2 -bottom-2;
    }
    &.left {
        @apply -translate-x-full -translate-y-1/2;
        @apply -left-2 top-1/2;
    }
    &.right {
        @apply translate-x-full -translate-y-1/2;
        @apply -right-2 top-1/2;
    }

    &:not(.hidden) {
        @apply flex animate-[fadeIn_0.3s_linear_forwards];
    }
}

@keyframes slideDown {
    0% {
        opacity: 100%;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
        display: none;
    }
}

.theme-menu {
    @apply absolute top-full right-0 z-1 overflow-hidden opacity-0;
    @apply hidden flex-col gap-3 p-2 border border-(--color-1) bg-(--color-3);
    @apply font-medium;

    &.open {
        @apply flex animate-[fadeIn_0.3s_linear_forwards];
    }

    label {
        @apply flex items-center gap-2 px-2 py-1 rounded-md relative;
        @apply hover:bg-(--color-2) cursor-pointer transition-colors duration-200;

        &.selected {
            @apply bg-(--color-2);
        }

        @media (pointer: coarse) {
            &::after {
                @apply content-[""] absolute w-[calc(100%+16px)] h-[calc(100%+12px)];
                @apply top-1/2 left-1/2 -translate-1/2;
            }
        }
    }

    input[type="radio"] {
        @apply hidden;
    }
}

.settings-menu {
    @apply absolute top-full right-0 z-1 overflow-hidden opacity-0;
    @apply hidden flex-col gap-2 p-2 border border-(--color-1) bg-(--color-3);
    @apply font-medium;

    &.open {
        @apply flex animate-[fadeIn_0.3s_linear_forwards];
    }

    .menu-header {
        @apply flex gap-2 items-center px-2 py-1;
    }

    hr {
        @apply w-[calc(100%_+_2_*_8px)] -ml-2;
    }

    .menu-list {
        li {
            button {
                @apply flex gap-2 items-center px-2 py-1 rounded-md text-nowrap w-full;
                @apply hover:bg-(--color-2) cursor-pointer transition-colors duration-200;
            }
        }
        @media (pointer: coarse) {
            @apply -mx-2;
            li {
                button {
                    @apply px-4 py-2;
                }
            }
        }
    }
}

.react-flow-container {
    &.entity {
        .react-flow__pane {
            cursor: var(--entity-icon-url) 12 12, default;
        }
    }

    &.edge {
        .react-flow__pane {
            cursor: var(--edge-icon-url) 12 12, default;
        }

        .entity-node {
            .react-flow__handle {
                &.target {
                    @apply top-1/2 pointer-events-none opacity-0;
                }

                &.source {
                    @apply border-none rounded-none w-full h-full transform-none left-0 top-0 bg-transparent;
                }
            }
        }
    }

    &.selector {
        * {
            @apply transition-colors duration-200;
        }

        .react-flow__node-entity {
            &.selected {
                .entity-node {
                    .react-flow__resize-control {
                        @apply block;
                    }
                }
            }

            &:hover:not(.selected),
            &.hovered:not(.selected) {
                @apply border-blue-400;

                .entity-node .title {
                    @apply border-blue-400;
                }

                .attributes {
                    li.connected {
                        @apply bg-(--color-blue-400) text-(--color-13);
                    }
                }
            }
        }

        .react-flow__edge-erd-edge {
            &:not(.selected) {
                &:hover,
                &.hovered {
                    path {
                        @apply stroke-(--color-blue-400)!;
                    }
                }
            }
        }
    }

    &.selector,
    &.entity {
        .entity-node {
            .react-flow__handle {
                @apply invisible;
            }
        }
    }
}

.erd-items {
    @apply flex flex-col gap-2 cursor-default;

    button {
        @apply p-1 rounded-sm cursor-pointer hover:not-disabled:bg-(--color-16) transition-colors duration-200;
        @apply disabled:cursor-not-allowed disabled:opacity-50;

        @media (pointer: coarse) {
            &::after {
                @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                @apply size-10;
            }
        }
    }
}

.screen-mode-panel {
    @apply select-none rounded-sm h-[32px] z-6;
    @apply hover:bg-(--color-16) transition-colors duration-200;

    button {
        @apply p-1 cursor-pointer relative;

        @media (pointer: coarse) {
            &::after {
                @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                @apply size-14;
            }
        }
    }
}

.react-flow__panel.react-flow__controls {
    button {
        @apply size-8;
        @media (pointer: coarse) {
            @apply size-10;
            svg {
                @apply scale-110;
            }
        }
    }
}

.react-flow__node-entity {
    @apply border border-(--color-15) bg-(--color-13);

    &.selected {
        @apply shadow-md border-blue-600;

        .entity-node {
            .title {
                @apply border-blue-600;
            }

            .attributes {
                li.connected {
                    @apply bg-(--color-blue-600) text-(--color-13);
                }
            }
        }
    }

    .react-flow__resize-control {
        @apply hidden;

        &.line {
            @apply border-blue-600;

            @media (pointer: coarse) {
                &::after {
                    @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                }

                &.top,
                &.bottom {
                    &::after {
                        @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                        @apply w-full h-2;
                    }
                }
                &.left,
                &.right {
                    &::after {
                        @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                        @apply h-full w-2;
                    }
                }
            }
        }

        &.handle {
            @apply bg-blue-600;

            @media (pointer: coarse) {
                @apply size-3;
            }
        }
    }
}

.react-flow__edge-erd-edge {
    &.selected {
        path {
            @apply stroke-(--color-blue-600)!;
        }
    }

    path {
        @apply stroke-(--color-12) stroke-1;
    }
}

.entity-node {
    @apply text-[12px] h-full flex flex-col min-w-[199px] min-h-[99px];

    &.suggested {
        @apply opacity-60 brightness-50 text-(--color-15);
    }

    .title {
        @apply font-semibold border-b text-center flex items-center text-(--color-12);

        .drag-handle {
            @apply flex items-center relative z-1 p-1 pr-0 w-[24px];
        }

        .name {
            @apply flex-1 p-1 text-left cursor-default;
        }
    }

    .attributes {
        @apply text-[12px] text-(--color-14) flex flex-col gap-1 p-2 cursor-default flex-1;

        li {
            @apply -mx-2 px-2 transition-colors duration-200;
            &:hover,
            .hover {
                @apply bg-(--color-blue-400) text-(--color-13);
            }

            &.suggested {
                @apply opacity-60 brightness-50 text-(--color-15);
            }

            @media (pointer: coarse) {
                @apply relative;

                &::after {
                    @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                    @apply w-full h-[calc(100%+4px)];
                }
            }
        }
    }
}

.erd-connection-line {
    @apply stroke-(--color-12);
    @apply transition-colors duration-200;
}

.edge-label {
    @apply absolute bg-(--color-14)/5 backdrop-blur-xs text-xs text-(--color-14) cursor-pointer pointer-events-auto;

    button {
        @apply bg-transparent border-none hover:bg-(--color-14)/7 px-1 py-0.5 h-5;
    }

    select {
        @apply outline-1 -outline-offset-1 bg-(--color-13) hover:bg-(--color-16) px-1 py-0.5 h-5 w-12 appearance-none;
    }
}

.entity-info {
    @apply flex flex-col h-full;

    button {
        @apply transition-colors duration-200 cursor-pointer font-medium rounded-md;
    }

    .error {
        @apply text-sm text-(--color-4) font-medium;
    }

    .details {
        @apply flex-1 h-full flex flex-col text-(--color-1);

        ul {
            li {
                &:last-child {
                    @apply mt-2;
                }
            }
        }

        .attribute-form {
            scrollbar-width: thin;
            scrollbar-color: var(--color-1) var(--color-3);
            @apply flex flex-col border-t border-gray-400 gap-2 relative;
            @apply -ml-3 pl-3 mt-3 pr-3 py-3 -mr-3;
            @apply overflow-y-auto overflow-x-hidden h-full;

            &.with-scrollbar {
                @apply py-0 pr-2;

                &::before,
                &::after {
                    @apply content-[""] sticky h-3 min-h-3 -ml-3 w-[calc(100%+var(--spacing)*5)];
                }
                &::before {
                    @apply top-0 -mb-2;
                    background-image: linear-gradient(
                        var(--color-scrollable),
                        transparent
                    );
                }
                &::after {
                    @apply bottom-0 -mt-2;
                    background-image: linear-gradient(
                        0,
                        var(--color-scrollable),
                        transparent
                    );
                }
            }
        }

        @media (pointer: coarse) {
            .checkbox-field {
                @apply relative;

                label {
                    &::after {
                        @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                        @apply w-full h-[calc(100%+8px)];
                    }
                }
            }
        }

        .edit-attribute-btn,
        .remove-attribute-btn,
        .add-attribute-btn {
            @apply p-2 flex items-center justify-self-end text-(--color-13);
        }

        .edit-attribute-btn {
            @apply bg-(--color-5) hover:bg-(--color-6);
        }

        .remove-attribute-btn {
            @apply bg-(--color-1) hover:bg-(--color-7);
        }

        @media (pointer: coarse) {
            .edit-attribute-btn,
            .remove-attribute-btn {
                @apply relative;
                &::after {
                    @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                    @apply size-11;
                }
            }
        }

        .add-attribute-btn {
            @apply gap-1;
            @apply bg-(--color-8) hover:bg-(--color-9);

            @media (pointer: coarse) {
                @apply w-full justify-center;
            }
        }
    }

    .actions {
        @apply flex justify-between mt-3;

        .back-btn {
            @apply flex gap-2 py-2 px-2.5 border-1 items-center;
            @apply bg-(--color-8) hover:bg-(--color-9) text-(--color-13) font-semibold;

            svg {
                @apply -ml-[7.5px];
            }
        }
        .submit-btn {
            @apply flex gap-2 py-2 px-2.5 border-1 items-center;
            @apply bg-(--color-10) hover:bg-(--color-4) text-(--color-13) font-semibold;

            svg {
                @apply -ml-[3.34px];
            }
        }

        @media (pointer: coarse) {
            .back-btn,
            .submit-btn {
                @apply w-[45%] justify-center;
            }
        }
    }
}

.edge-info {
    @apply flex flex-col h-full;

    button {
        @apply transition-colors duration-200 cursor-pointer font-medium rounded-md;
    }

    .details {
        @apply flex-1 h-full flex flex-col text-(--color-1);

        .edge-form {
            scrollbar-width: thin;
            scrollbar-color: var(--color-1) var(--color-3);
            @apply flex flex-col gap-2 relative;
            @apply overflow-y-auto overflow-x-hidden h-full;
        }
    }

    @media (pointer: coarse) {
        .radio-field {
            @apply relative;

            label {
                &::after {
                    @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                    @apply w-full h-[calc(100%+8px)];
                }
            }
        }
    }
}

.resize-handle {
    &::after {
        @apply content-[""] rounded-md w-1.5 h-6 bg-(--color-1);
        @apply absolute top-1/2 -translate-y-1/2 left-0 translate-x-[2.5px];

        @media (pointer: coarse) {
            @apply w-2.5 h-8 -left-0.5;
        }
    }
}

.input-field {
    @apply flex flex-col;

    label {
        @apply font-medium;
    }

    input {
        @apply border-1 border-gray-400 bg-(--color-13) text-(--color-12) p-1 rounded-md;
        @apply disabled:bg-gray-100 disabled:cursor-not-allowed;
    }

    .required {
        @apply text-(--color-1) ml-0.5;
    }
}

.text-area-field {
    @apply flex flex-col;

    label {
        @apply font-medium;
    }

    textarea {
        @apply border-1 border-gray-400 bg-(--color-13) text-(--color-12) p-2 rounded-md;
        @apply focus:outline-(--color-1);
    }

    .required {
        @apply text-(--color-1) ml-0.5;
    }
}

.radio-field,
.checkbox-field {
    @apply flex gap-2;

    label {
        @apply font-medium;
    }

    input {
        @apply p-2 disabled:cursor-not-allowed accent-(--color-1);
    }
}

.select-field {
    @apply flex flex-col;

    label {
        @apply font-medium;
    }

    select {
        @apply border-1 border-gray-400 bg-(--color-13) text-(--color-12) p-1 rounded-md appearance-none;
    }
}

.export-options {
    .radio-field,
    .checkbox-field {
        @apply flex-row-reverse justify-end;

        @media (pointer: coarse) {
            @apply relative;

            label {
                @apply flex-1;
            }
            input,
            label {
                &::after {
                    @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                    @apply w-full h-[calc(100%+16px)];
                }
            }
        }
    }
}

.export-db-actions {
    @apply absolute top-0.5 right-0.5 flex gap-2;

    @media (pointer: coarse) {
        .highlighter-btn {
            &::after {
                @apply content-[""] absolute top-1/2 left-1/2 -translate-1/2;
                @apply size-9;
            }
        }
    }
}

.feedback-form {
    .input-field {
        @apply w-full;
    }

    .text-area-field {
        @apply w-full;
    }
}

.auth-header {
    @apply flex rounded-t-md justify-around font-medium mb-4 overflow-hidden;
    li {
        @apply flex-1 hover:bg-(--color-2) border-b border-(--color-1);
        @apply flex justify-center;
        @apply transition-colors duration-200;
        &.active {
            @apply border-b-2 bg-(--color-1) text-(--color-13) font-semibold;
        }
        button {
            @apply p-4 cursor-pointer flex-1;
        }
    }
}

.auth-btn {
    @apply flex gap-2 py-2 px-2.5 border-1 items-center w-fit self-end;
    @apply bg-(--color-1) hover:not-disabled:bg-(--color-7) text-(--color-13) font-semibold;
    @apply transition-colors duration-200 cursor-pointer font-medium rounded-md;
    @apply disabled:cursor-not-allowed disabled:opacity-50;

    @media (pointer: coarse) {
        @apply w-full justify-center;
    }
}

.auth-body {
    form {
        @apply hidden;
        &.active {
            @apply flex;
        }
    }
}

.modal-container {
    @apply hidden opacity-0 perspective-normal transform-3d;
    @apply fixed h-screen w-full z-1 bg-(--color-12)/50;

    * {
        @apply transition-colors duration-200;
    }

    .modal-content {
        @apply bg-(--color-3) text-(--color-1) rounded-md w-[min(500px,_90vw)];
        @apply absolute top-[10vh] left-1/2 -translate-x-1/2 transform-[translateY(20px)] opacity-0;
        @apply max-h-[calc(80vh)];

        &.export-diagram {
            @apply w-[min(1024px,_90vw)] top-[57px] max-h-[calc(100vh-2*57px)] overflow-y-auto overflow-x-hidden;
            scrollbar-width: thin;
            scrollbar-color: var(--color-1) var(--color-3);

            &.has-scrollbar {
                @apply -mr-2.5;
            }
        }
    }

    &.open {
        @apply block animate-[fadeIn_0.2s_linear_forwards];

        .modal-content {
            animation: slideUp 0.3s ease-in forwards;
        }
    }

    .action-btns {
        @apply flex justify-around w-full mt-4;
    }

    button {
        &.link {
            @apply underline cursor-pointer hover:text-(--color-7);
        }

        &.close-modal {
            @apply absolute top-2 right-2 outline-2 outline-(--color-3) -outline-offset-2;
            @apply p-2 rounded-md text-(--color-1) cursor-pointer;
            &:hover {
                @apply not-disabled:bg-(--color-2) not-disabled:outline-(--color-2);
            }
            &:focus {
                @apply outline-(--color-7);
            }

            @media (pointer: coarse) {
                &::after {
                    @apply content-[""] absolute size-12;
                    @apply top-1/2 left-1/2 -translate-1/2;
                }
            }
        }

        &.cancel-btn,
        &.confirm-btn {
            @apply px-5 py-2 rounded-md font-semibold cursor-pointer transition-all;
            @apply disabled:opacity-50 disabled:cursor-not-allowed;

            @media (pointer: coarse) {
                @apply w-[45%];
            }
        }

        &.cancel-btn {
            @apply text-(--color-7) bg-(--color-2) outline-2 outline-(--color-2) -outline-offset-2;
            &:hover {
                @apply not-disabled:bg-(--color-17) not-disabled:outline-(--color-17);
            }
            &:focus {
                @apply outline-(--color-7);
            }
        }

        &.confirm-btn {
            @apply text-(--color-13) bg-(--color-1) outline-2 outline-(--color-1) -outline-offset-2;
            &:hover {
                @apply not-disabled:bg-(--color-7) not-disabled:outline-(--color-7);
            }
            &:focus {
                @apply outline-(--color-2);
            }
        }

        &.highlighter-btn {
            @apply p-1 rounded-[2px] cursor-pointer;
            @apply hover:bg-(--color-highlighter);
        }
    }

    .server-error-message {
        @apply flex gap-2 items-center border rounded-md p-3 text-(--color-13) bg-(--color-1);
    }
}

.export-db,
.generate-db {
    @apply border-1 rounded-[2px] border-gray-300;

    &.collapsed {
        @apply max-h-[200px] overflow-hidden;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 30px;
            bottom: 0;
            background-image: linear-gradient(
                to top,
                var(--color-14),
                transparent
            );
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.confirmation-input-container {
    @apply flex flex-col gap-2.5 mt-3.5 px-9;

    .confirmation-input {
        @apply flex gap-3.5 justify-between;

        input {
            @apply size-12 text-center border rounded-md focus:ring-2 focus:outline-none;
            @apply transition-all duration-200;
        }

        .error-message {
            @apply text-center;
        }
    }
}

.step-by-step-backdrop {
    mask: linear-gradient(white, white), linear-gradient(white, white);
    mask-composite: subtract;
    mask-position: 0 0, var(--mask-position-x) var(--mask-position-y);
    mask-size: 100% 100%, var(--mask-width) var(--mask-height);
    mask-repeat: no-repeat;
    transition: mask 0.2s ease-in-out;

    @apply hidden opacity-0 fixed inset-0 bg-(--color-12)/50 z-2 backdrop-blur-sm;

    &.open {
        @apply block animate-[fadeIn_0.2s_linear_forwards];
    }

    .step-by-step-guide {
        @apply bg-(--color-13) text-(--color-12) w-fit absolute;
        @apply p-2 rounded-md w-[min(350px,calc(100vw-24px))] shadow-md;

        transition-property: top left transform;
        transition-duration: 0.2s;
        transform-style: ease-in-out;

        @apply overflow-y-auto max-h-[calc(100vh-24px)];

        @media (min-width: 1024px) {
            @apply w-[min(520px,calc(100vw-24px))];
        }

        h2 {
            @apply text-lg font-bold mb-2;
        }

        ul {
            @apply pl-5 list-disc;
        }

        img {
            @apply my-4 flex justify-self-center rounded-sm;
        }

        .navigation {
            @apply flex justify-between items-center mt-2;
            span {
                @apply flex-1 flex justify-center;
            }
            button {
                @apply px-5 py-2 rounded-md font-semibold cursor-pointer transition-all;
                @apply text-(--color-13) bg-(--color-1) outline-2 outline-(--color-1) -outline-offset-2;
                &:hover {
                    @apply not-disabled:bg-(--color-7) not-disabled:outline-(--color-7);
                }
                &:focus {
                    @apply outline-(--color-2);
                }

                @media (pointer: coarse) {
                    @apply w-[100%];
                }
            }
        }
    }
}

