@import "tailwindcss";

@theme {
    --inset-shadow-md: inset 0 1px 5px rgba(0, 0, 0, 0.4);
}

.header-btn {
    @apply p-2 rounded-md hover:bg-[#f7dee0] cursor-pointer transition-colors duration-200;
}

.react-flow-container {
    &.entity {
        .react-flow__pane {
            cursor: url("/entity-cursor.png") 16 16, default;
        }
    }

    &.edge {
        .react-flow__pane {
            cursor: url("/edge-cursor.png") 16 16, default;
        }

        .entity-node {
            .react-flow__handle {
                &.target {
                    @apply top-1/2 pointer-events-none opacity-0;
                }

                &.source {
                    @apply border-none rounded-none w-full h-full transform-none left-0 top-0 bg-transparent;
                }
            }
        }
    }

    &.selector {
        .react-flow__node-entity {
            &.selected {
                .entity-node {
                    .react-flow__resize-control {
                        @apply block;
                    }
                }
            }

            &:hover:not(.selected) {
                @apply border-blue-400;

                .entity-node .title {
                    @apply border-blue-400;
                }
            }
        }

        .react-flow__edge-erd-edge {
            &:hover:not(.selected) {
                path {
                    @apply stroke-(--color-blue-400)!;
                }
            }
        }
    }

    &.selector,
    &.entity {
        .entity-node {
            .react-flow__handle {
                @apply invisible;
            }
        }
    }
}

.erd-items {
    @apply flex flex-col gap-2 cursor-default;

    button {
        @apply p-1 rounded-sm cursor-pointer hover:bg-gray-100 transition-colors duration-300;
    }
}

.react-flow__node-entity {
    @apply border border-gray-800 bg-white;

    &.selected {
        @apply shadow-md border-blue-600;

        .entity-node .title {
            @apply border-blue-600;
        }
    }

    .react-flow__resize-control {
        @apply hidden;

        .line {
            @apply border-blue-600;
        }

        .handle {
            @apply bg-blue-600;
        }
    }
}

.react-flow__edge-erd-edge {
    &.selected {
        path {
            @apply stroke-(--color-blue-600)!;
        }

        /* .edge-zero-marker-start,
        .edge-zero-marker-end,
        .edge-one-marker-start,
        .edge-one-marker-end,
        .edge-many-marker-start,
        .edge-many-marker-end {
            @apply stroke-(--color-blue-600)!;
        } */
    }

    path {
        @apply stroke-(--color-black) stroke-1;
    }

    /* .edge-zero-marker-start,
    .edge-zero-marker-end,
    .edge-one-marker-start,
    .edge-one-marker-end,
    .edge-many-marker-start,
    .edge-many-marker-end {
        @apply stroke-(--color-black) stroke-[20px] fill-none;
    } */
}

.entity-node {
    @apply h-full flex flex-col overflow-hidden min-w-[199px] min-h-[99px];

    .title {
        @apply font-semibold border-b text-center flex items-center;

        .drag-handle {
            @apply flex items-center relative z-1 p-1 pr-0 w-[24px];
        }

        .name {
            @apply flex-1 p-1 text-left cursor-default;
        }
    }

    .attributes {
        @apply text-sm text-gray-600 flex flex-col gap-1 p-2 cursor-default flex-1;
    }
}

.erd-connection-line {
    @apply stroke-(--color-black);
}

.edge-label {
    @apply absolute bg-gray-700/5 backdrop-blur-xs text-xs text-gray-800 cursor-pointer pointer-events-auto;

    button {
        @apply bg-transparent border-none hover:bg-gray-700/7 px-1 py-0.5 h-5;
    }

    select {
        @apply outline-1 -outline-offset-1 bg-gray-50 hover:bg-gray-100 px-1 py-0.5 h-5 w-12 appearance-none;
    }
}

.entity-info {
    @apply flex flex-col min-h-full h-full;

    button {
        @apply transition-colors duration-300 cursor-pointer font-medium rounded-md;
    }

    .error {
        @apply text-sm text-[#800E13] font-medium;
    }

    .details {
        @apply flex-1 h-full min-h-[calc(100%-54px)] flex flex-col;

        ul {
            li {
                &:last-child {
                    @apply mt-2;
                }
            }
        }

        .attribute-form {
            scrollbar-width: thin;
            scrollbar-color: #640d14 #fefbfb;
            @apply flex flex-col border-t border-gray-400 gap-2 relative;
            @apply -ml-3 pl-3 mt-3 pr-2 py-3 -mr-3;
            @apply overflow-y-auto overflow-x-hidden h-full min-h-[calc(100%-66px)];

            &.with-scrollbar {
                @apply py-0;

                &::before,
                &::after {
                    @apply content-[""] sticky h-3 min-h-3 -ml-3 w-[calc(100%+var(--spacing)*5)];
                }
                &::before {
                    @apply top-0 -mb-2;
                    background-image: linear-gradient(
                        rgb(56 4 14 / 20%),
                        transparent
                    );
                }
                &::after {
                    @apply bottom-0 -mt-2;
                    background-image: linear-gradient(
                        0,
                        rgb(56 4 14 / 20%),
                        transparent
                    );
                }
            }
        }

        .input-field {
            @apply flex flex-col;

            label {
                @apply font-medium;
            }

            input {
                @apply border-1 border-gray-400 bg-white p-2 rounded-md;
                @apply disabled:bg-gray-100 disabled:cursor-not-allowed;
            }

            .required {
                @apply text-[#640D14] ml-0.5;
            }
        }

        .text-area-field {
            @apply flex flex-col;

            label {
                @apply font-medium;
            }

            textarea {
                @apply border-1 border-gray-400 bg-white p-2 rounded-md;
            }

            .required {
                @apply text-[#640D14] ml-0.5;
            }
        }

        .select-field {
            @apply flex flex-col;

            label {
                @apply font-medium;
            }

            select {
                @apply border-1 border-gray-400 bg-white p-2 rounded-md appearance-none;
            }
        }

        .checkbox-field {
            @apply flex gap-2;

            label {
                @apply font-medium;
            }

            input {
                @apply p-2;
            }
        }

        .edit-attribute-btn {
            @apply p-2 flex items-center justify-self-end;
            @apply bg-[#335c67] hover:bg-[#2a4c55] text-white;
        }

        .remove-attribute-btn {
            @apply p-2 flex items-center justify-self-end;
            @apply bg-[#640D14] hover:bg-[#44090e] text-white;
        }

        .add-attribute-btn {
            @apply p-2 flex gap-1 items-center justify-self-end;
            @apply bg-[#003049] hover:bg-[#000305] text-white;
        }
    }

    .actions {
        @apply flex justify-between mt-3;

        .back-btn {
            @apply flex gap-2 p-2 border-1 items-center;
            @apply bg-[#003049] hover:bg-[#000305] text-white font-semibold;
        }
        .submit-btn {
            @apply flex gap-2 p-2 border-1 items-center;
            @apply bg-[#AD2831] hover:bg-[#800E13] text-white font-semibold;
        }
    }
}
